<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.camilo.biuxadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Actividades.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Actividades.NoticiasActivity"
                android:parentActivityName=".Actividades.MainActivity">
        </activity>
        <activity
                android:name=".Actividades.EmpresasActivity"
                android:parentActivityName=".Actividades.MainActivity">
        </activity>
        <activity
                android:name=".Actividades.DetalleEmpresaActivity"
                android:parentActivityName=".Actividades.EmpresasActivity">
        </activity>
        <activity
                android:name=".Actividades.NuevaEmpresaActivity"
                android:parentActivityName=".Actividades.EmpresasActivity">
        </activity>
        <activity
                android:name=".Actividades.GeneralActivity"
                android:parentActivityName=".Actividades.EmpresasActivity">
        </activity>
        <activity android:name=".Actividades.UsuariosActivity">
        </activity>
        <activity android:name=".Actividades.CrearNoticiasActivity"
                  android:parentActivityName=".Actividades.NoticiasActivity">
        </activity>
    </application>

</manifest>